body {
  background-color: #00ffff;
  margin: 10%;
  overflow: hidden;
}

img {
  position: absolute;
}

.flipped {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}


.bullet {
  width: 10px;
  height: 3px;
  position: absolute;
}
